/*///////////////////////////////////*/
@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/regular/roboto-regular.eot');
	src: url('../fonts/roboto/regular/roboto-regular.woff') format('woff'),
		 url('../fonts/roboto/regular/roboto-regular.ttf') format('truetype'),
		 url('../fonts/roboto/regular/roboto-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/medium/roboto-medium.eot');
	src: url('../fonts/roboto/medium/roboto-medium.woff') format('woff'),
		 url('../fonts/roboto/medium/roboto-medium.ttf') format('truetype'),
		 url('../fonts/roboto/medium/roboto-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}





/* Ограничивающая оболочка */
.slick-list {
	align-items: flex-start;
}


/* Лента слайдов */
.slick-track{
    display: flex;
}

/*/////////*/
.slider{
	min-width: 0;
	position: relative;
	margin-top: 67px;
	margin-bottom: 93px;
	
}

.slider .slick-arrow{
	position: absolute;
    z-index: 10;
    font-size: 0;
    width: 200px;
    height: 216px;
	background-color: transparent;
	border: none;
}

.slider .slick-arrow.slick-prev{
	left: 0;
}

.slider .slick-arrow.slick-next{
	right: 0;
	top: 0;
}



/*//////////////////////
///////////////////////////////*/
.slider_item{
	background-image: url(../img/slider_background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    width: 470;
	height: 216px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.slider_item p{
	margin-left: auto;
	margin-right: auto;
    margin-top: 41px;
    width: 388px;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    font-weight: 500;
    font-family: "roboto";
    text-align: center;
}

.slider_item p:last-child{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
	margin-top: 24px;
	margin-bottom: 40px;
}